.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
    
}
.container1{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #da142b, #7462ff, #c52665,#23d5ab);
    background-size: 200% 300%;
    animation: color 12s ease-in-out infinite;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 1px;
}

.display-container {
    border: 3px solid rgb(125, 112, 128);
    padding: 6px;
    border-radius: 10px;
    background-color: rgb(158, 235, 179);
}


.length-container {
    display: flex;
    gap: 50px;
    border: 3px solid rgba(0, 157, 255, 0.848);
    border-radius: 1rem;
    padding-left: 10px;
    background: linear-gradient(90deg,rgb(236, 243, 239),rgb(147, 208, 217));
}

.input-container {
    border: 4px solid rgb(111, 101, 102);
    padding: 15px;
    border-radius: 1rem;
    background:linear-gradient(rgb(47, 34, 222),rgb(255, 181, 121))
}

.strength-container {
    display: flex;
    align-items: center;
    gap: 105px;

}

.dti {
    border: 3px solid green;
    width: 15px;
    height: 15px;
    border-radius: 100px;
}
    